<nav class="navbar navbar-expand-sm bg-white">
  <div class="container-fluid">
    <app-logo class="navbar-brand px-2 px-md-3 px-lg-5" />
    <div class="dropdown d-sm-none" ngbDropdown>
      <a
        class="nav-link dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ngbDropdownToggle
      >
        <img
          [src]="currentUser?.profileImage"
          alt="Profile Picture"
          class="profile-pic"
        />
      </a>
      <ul class="dropdown-menu dd-menu mt-2" ngbDropdownMenu>
        <li>
          <a
            class="dropdown-item"
            href="#"
            ngbDropdownItem
            [routerLink]="['profile', currectId()]"
          >
            <fa-icon [icon]="['far', 'user-circle']" class="me-2" />
            <span>View Profile</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#" ngbDropdownItem>
            <fa-icon [icon]="['fas', 'sliders']" class="me-2" />
            <span>Settings</span>
          </a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item" (click)="onLogout()" ngbDropdownItem>
            <fa-icon
              [icon]="['fas', 'arrow-right-from-bracket']"
              class="me-2 text-danger"
            />
            <span class="text-danger">Logout</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="show navbar-collapse" id="navbarSupportedContent">
      <form class="ms-lg-5 me-auto pt-2 pt-sm-0 search-wrapper">
        <app-input-ctrl
          placeholder="Search"
          class="ctrl"
          [isRounded]="true"
          (focused)="onFocusChanges($event)"
          (valueChanged)="onSearch($event)"
        >
          <fa-icon
            [icon]="['fas', 'magnifying-glass']"
            class="search-icon ps-2"
            ngProjectAs="suffix-icon"
          />
        </app-input-ctrl>
      </form>
      <ul
        class="navbar-nav flex-row justify-content-around align-items-center column-gap-1 mb-2 mb-sm-0"
      >
        <li class="nav-item">
          <a class="nav-link position-relative">
            <fa-icon
              [icon]="['far', 'user']"
              class="icon"
              [class.active]="hasOpenedFriendReqNotifications"
              (click)="onToggleFriendReqNotifications()"
            />
            @if (newfriendReqsNum()) {
            <span
              class="new-notifications position-absolute translate-middle badge rounded-pill"
            >
              {{ newfriendReqsNum() }}
            </span>
            }
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <fa-icon [icon]="['far', 'comment-dots']" class="icon" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative">
            <fa-icon
              [icon]="['far', 'bell']"
              class="icon"
              [class.active]="hasOpenedNotifications"
              (click)="onToggleNotifications()"
            />
            @if (newNotifNum()) {
            <span
              class="new-notifications position-absolute translate-middle badge rounded-pill"
            >
              {{ newNotifNum() }}
            </span>
            }
          </a>
        </li>
        <li class="nav-item dropdown d-none d-sm-block" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            <img
              [src]="currentUser?.profileImage"
              alt="Profile Picture"
              class="profile-pic"
            />
          </a>
          <ul class="dropdown-menu dd-menu mt-2" ngbDropdownMenu>
            <li>
              <a
                class="dropdown-item"
                href="#"
                ngbDropdownItem
                [routerLink]="['profile', currectId()]"
              >
                <fa-icon [icon]="['far', 'user-circle']" class="me-2" />
                <span>View Profile</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#" ngbDropdownItem>
                <fa-icon [icon]="['fas', 'sliders']" class="me-2" />
                <span>Settings</span>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="onLogout()" ngbDropdownItem>
                <fa-icon
                  [icon]="['fas', 'arrow-right-from-bracket']"
                  class="me-2 text-danger"
                />
                <span class="text-danger">Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  @if (hasOpenedNotifications) {
  <app-notifications
    [isFriendRequest]="false"
    [notifications]="notifications()"
  />
  } @if (hasOpenedFriendReqNotifications) {
  <app-notifications [isFriendRequest]="true" [friendRequests]="friendReqs()" />
  } @if (isSearching) {
  <div class="search-results position-absolute bg-white p-3 ms-lg-5 shadow">
    <ul class="list-group">
      @for (user of allUsers(); track user.id) {
      <li class="list-group-item list-group-item-action rounded-3 p-0 border-0">
        <a
          [routerLink]="['/app', 'profile', user.id]"
          class="text-decoration-none d-block py-2"
          (click)="isSearching = false"
        >
          <img
            [src]="user.profileImage"
            alt="Profile Image"
            class="rounded-circle"
          />

          <span class="name ms-2"> {{ user.fName + " " + user.lName }} </span>
        </a>
      </li>
      }
    </ul>
  </div>
  }
</nav>
