.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  user-select: none;
}

@media (min-width: 576px) {
  .profile-pic {
    width: 35px;
    height: 35px;
  }
}

.icon {
  font-size: 19px;
  color: #777;
  transition: color var(--transition);
}

.active {
  color: #333;
}

.icon:hover {
  color: #333;
}

.search-icon {
  color: #999;
}

.ctrl {
  background-color: var(--bg-color);
}
@media (min-width: 992px) {
  .ctrl {
    width: 20rem;
  }
}

.dd-menu {
  transform: translateX(calc(-100% + 46px));
}

@media (min-width: 576px) {
  .dd-menu {
    transform: translateX(calc(-100% + 57px));
  }
}

.dd-menu li a {
  cursor: pointer;
}

.dd-menu fa-icon,
.dd-menu span {
  font-size: 15px;
}

.nav-link fa-icon {
  cursor: pointer;
}

.new-notifications {
  font-size: 8px;
  top: 12px;
  background-color: var(--primary-color);
}

.search-results {
  top: 110px;
  left: 12px;
  width: calc(100% - 24px);
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  background-color: white;
  z-index: 999;
}
@media (min-width: 576px) {
  .search-results {
    top: 100%;
    width: 15rem;
    left: 126.46px;
  }
}
@media (min-width: 768px) {
  .search-results {
    left: 142.46px;
  }
}
@media (min-width: 992px) {
  .search-results {
    left: 206.46px;
    width: 20rem;
  }
}

.search-results li {
  cursor: pointer;
}

.search-results img {
  width: 35px;
  height: 35px;
}

.search-results .name {
  font-size: 14.5px;
  color: black;
}
