<div class="user-profile mx-auto">
  <div class="info bg-white mb-3 rounded-bottom-4">
    <div class="user-imgs position-relative">
      <div class="cover">
        <img [src]="user()?.cover" alt="Profile Cover" />
      </div>
      <div class="profile-pic position-absolute bottom-0 rounded-circle">
        <img
          [src]="user()?.profileImage"
          alt="Profile Picture"
          class="d-block"
        />
      </div>
    </div>
    <div class="texual-info">
      <div class="d-flex">
        <div class="name-connects">
          <div class="h2">{{ userFullName }}</div>
          <a class="connects-num d-inline-block text-decoration-none"
            >0 Connections</a
          >
        </div>
        @if (isUserOwnProfile()) {
        <button class="edit-btn align-self-end btn rounded-3 ms-auto">
          Edit Profile
        </button>
        } @else {
        <button
          class="connect-btn edit-btn align-self-end btn rounded-3 ms-auto d-flex align-items-center gap-2"
        >
          <mat-icon> person_add </mat-icon>
          Connect
        </button>
        }
      </div>
      <div class="bio-mobile d-lg-none mt-5">
        <hr class="devider mb-3" />
        <h3>Bio</h3>
        <p class="mb-0">{{ user()?.bio }}</p>
      </div>
    </div>
  </div>

  <div class="bio d-none d-lg-inline-block bg-white rounded-4 p-3">
    <h3>Bio</h3>
    <p>{{ user()?.bio }}</p>
  </div>

  <div class="posts d-inline-block ps-lg-3 pt-3 align-top">
    <div class="d-flex justify-content-center align-items-center mb-3">
      <h3>Posts</h3>
      <button
        class="create-post-btn btn ms-auto rounded-3 d-flex align-items-center"
        (click)="openCreatePostDialog()"
      >
        <mat-icon class="material-icons-outlined d-flex align-items-center">
          edit
        </mat-icon>
        <span>Create Post</span>
      </button>
    </div>

    @for (post of posts(); track $index) {
    <app-post [post]="post" class="mb-3" />
    }
  </div>
</div>
