:host {
  display: block;
  background-color: var(--bg-color);
  min-height: calc(100vh - 168px);
}
@media (min-width: 576px) {
  :host {
    margin-top: 67px;
    min-height: calc(100vh - 67px);
  }
}

.user-profile {
  width: calc(100% - 2rem);
}

@media (min-width: 992px) {
  .user-profile {
    width: 55rem;
  }
}

.info {
  padding-bottom: 1rem;
}

.user-imgs {
  max-height: 18rem;
}

.user-imgs .cover {
  max-height: inherit;
}

.user-imgs .cover img {
  object-fit: cover;
  max-height: inherit;
  width: 100%;
}

.user-imgs .profile-pic {
  border: 3px solid white;
  transform: translate(15px, 60%);
}

.user-imgs .profile-pic img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: inherit;
}

.texual-info {
  padding-top: 1.5rem;
  padding-bottom: 14.24px;
  width: calc(100% - 219px);
  margin-right: 15px;
  margin-left: auto;
}

@media (max-width: 575px) {
  .user-imgs .profile-pic img {
    width: 130px;
    height: 130px;
  }
  .user-imgs {
    max-height: 15rem;
  }
  .texual-info {
    margin-top: 78px;
    margin-left: 0%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 575px) {
  .bio-mobile {
    margin-left: -188px;
  }
}

.bio-mobile h3 {
  font-size: 1.2rem;
}
.bio-mobile p {
  font-size: 14px;
}

.texual-info .connects-num {
  color: var(--text-secondary-color);
  cursor: pointer;
  font-size: 14px;
}

.texual-info .connects-num:hover {
  text-decoration: underline !important;
}

.edit-btn {
  border: 1.5px solid var(--primary-color);
  font-size: 14.5px;
  font-weight: 500;
  background-color: var(--primary-color);
  color: white;
}
.edit-btn:hover {
  background-color: white;
  color: var(--primary-color);
}

.bio-posts-container {
  width: calc(100% - 30px);
}

.bio {
  width: 18rem;
  position: sticky;
  margin-left: 15px;
  top: calc(67px + 1rem);
}

.bio h3 {
  font-size: 1.6rem;
}

.bio p {
  font-size: 14px;
  text-align: center;
}

.posts {
  width: calc(100% - 1rem);
  padding-left: 15px;
}
@media (min-width: 576px) {
  .posts {
    padding-left: 0;
    width: calc(31.1rem);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .posts {
    width: calc(40rem);
  }
}
@media (min-width: 992px) {
  .posts {
    width: calc(100% - 19rem);
    padding-right: 15px;
    position: static;
    transform: translateX(0);
  }
}

.posts h3 {
  font-size: 1.6rem;
}

.create-post-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 12px;
  transition: transform 0.3s ease;
}
.create-post-btn mat-icon {
  font-size: 18px;
  transition: transform 0.3s;
}

.create-post-btn span {
  font-size: 14px;
  font-weight: 500;
}

.create-post-btn:hover {
  transform: scale(1.02);
  background-color: var(--primary-hover-color);
}
.create-post-btn:active {
  transform: scale(1);
  background-color: var(--primary-active-color);
  color: white;
}

.create-post-btn:hover mat-icon {
  animation: penShake 0.5s;
}

.connect-btn {
  /* font-family: "Pacifico", cursive; */
  font-weight: 500;
}

@keyframes penShake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
