<div class="mb-3">
  <h3>
    {{ isFriendRequest() ? "Friend Requests" : "Notifications" }}
  </h3>
</div>

@if (isFriendRequest()) {
<ul class="notifications list-group">
  @for (request of friendRequests(); track request.id) {
  <li class="list-group-item px-0 border-0 d-flex align-items-center">
    <img
      [src]="request.from.profileImage"
      alt="User Image"
      class="rounded-circle object-fit-cover"
    />

    <span class="info">
      <b>{{ request.from.fName + " " + request.from.lName }}</b>
      <span> Sent to you a Friend Request </span>

      <div class="actions mt-1">
        <button
          class="acc-btn btn me-1"
          (click)="onAcceptRequest(request.userId, request.id)"
        >
          Accept
        </button>
        <button class="dec-btn btn" (click)="onDeclineRequest(request.id)">
          Decline
        </button>
      </div>
    </span>
  </li>

  @if (!$last) {
  <hr class="devider my-2" />
  } } @empty {
  <p class="fallback-text">There are no requests.</p>
  }
</ul>
} @else {
<ul class="notifications list-group">
  @for (notif of notifications(); track notif.id) {
  <li class="list-group-item px-0 border-0 d-flex align-items-center">
    <img
      [src]="notif.from.profileImage"
      alt="User Image"
      class="rounded-circle object-fit-cover"
    />

    <span class="info flex-grow-1">
      <b>{{ notif.from.fName + " " + notif.from.lName }}</b>
      <span> {{ notif.type }} your post </span>
    </span>
    <a class="clear-btn mx-3" (click)="onClearNotification(notif.id)">
      Clear
    </a>
  </li>
  @if (!$last) {
  <hr class="devider my-2" />
  } } @empty {
  <p class="fallback-text">There are no notifications.</p>
  }
</ul>
}
