:host {
  display: block;
}

.author-img {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.name {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.name:hover {
  text-decoration: underline !important;
}

.date {
  font-size: 12px;
  color: var(--text-secondary-color);
}
.more-icon {
  font-size: 18px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.more-icon:hover {
  background-color: #ddd;
}

.text {
  font-size: 14.5px;
}

.post-img {
  max-height: 28rem;
  width: 100%;
  object-fit: contain;
}

.reacts-num {
  color: var(--text-secondary-color);
}

.loves,
.comments {
  cursor: pointer;
}

.loves:hover span,
.comments:hover {
  text-decoration: underline;
}

.loves fa-icon {
  font-size: 20px;
  color: #ff1a1a;
}

.solid-heart {
  color: #ff1a1a;
  transition: transform 0.25s;
  transform: scale(0);
}
.solid-heart.scaled {
  transform: scale(1.1) !important;
}

.love:active .solid-heart {
  transform: scale(1.1);
}

.d-loved {
  position: relative;
  animation: d-loved 0.3s;
}

.reacts-num span {
  font-size: 14px;
}

.actions button {
  flex-basis: 50%;
  background-color: transparent;
}

.actions button:hover {
  background-color: #efefef;
}

@keyframes d-loved {
  from {
    opacity: 0;
    top: 5px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
