<div class="info bg-white p-3 d-flex gap-2 align-items-center">
  <img
    [src]="user()?.profileImage"
    [alt]="user()?.fName + '\'s Profile Picture'"
    class="friend-img rounded-circle"
  />

  <h3 class="friend-name mb-0">{{ user()?.fName + " " + user()?.lName }}</h3>
</div>

<div class="messages-container px-3 pb-2" #msgsContainer>
  <ul class="list-group d-flex flex-column-reverse">
    @if (chat()) { @for (msg of chat(); track msg.id) {
    <li
      class="msg list-group-item px-3 py-2 border-0 mt-3"
      [class.my-msg]="uid() !== msg.from"
    >
      <p class="msg-txt mb-0">{{ msg.message }}</p>
    </li>
    } @empty {
    <p class="fallback-text">No messages yet.</p>
    } } @else {
    <app-loading-spinner class="text-center" />
    }
  </ul>
</div>

<form
  class="send-message bg-white d-flex p-3 gap-3 align-items-center"
  (ngSubmit)="onSubmit(msg)"
>
  <div class="msg-ctrl-container py-2 px-3 flex-grow-1 rounded-4">
    <input
      type="text"
      placeholder="Type a message..."
      class="w-100 bg-transparent border-0"
      #msg
    />
  </div>
  <button
    type="submit"
    class="btn send-btn p-0 d-flex justify-content-center align-items-center rounded-circle"
  >
    <fa-icon [icon]="['fas', 'paper-plane']" />
  </button>
</form>
