.body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

@media (min-width: 576px) {
  main {
    margin-top: 67px;
  }
}
@media (min-width: 992px) {
  main {
    margin-left: 12.9rem;
  }
}
@media (min-width: 768px) {
  main {
    margin-right: 18rem;
  }
}
