<hr />
<app-input-ctrl placeholder="Search..." class="search-ctrl">
  <fa-icon
    [icon]="['fas', 'magnifying-glass']"
    class="search-icon pe-2"
    ngProjectAs="prefix-icon"
  />
</app-input-ctrl>

<div>
  <h6 class="heading text-uppercase py-3">friends</h6>
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action rounded-3 border-0 d-flex align-items-center"
    >
      <img src="https://placehold.co/400" alt="Friend Name" class="me-2" />
      <span>John Doe</span>
    </li>
    <li
      class="list-group-item list-group-item-action rounded-3 border-0 d-flex align-items-center"
    >
      <img src="https://placehold.co/400" alt="Friend Name" class="me-2" />
      <span>John Doe</span>
    </li>
    <li
      class="list-group-item list-group-item-action rounded-3 border-0 d-flex align-items-center"
    >
      <img src="https://placehold.co/400" alt="Friend Name" class="me-2" />
      <span>John Doe</span>
    </li>
  </ul>
</div>
