.newsfeed {
  width: 100%;
}
@media (min-width: 1200px) {
  .newsfeed {
    width: 40rem;
  }
}
.create-post-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 12px;
  transition: transform 0.3s ease;
}
.create-post-btn mat-icon {
  font-size: 18px;
  transition: transform 0.3s;
}

.create-post-btn span {
  font-size: 14px;
  font-weight: 500;
}

.create-post-btn:hover {
  transform: scale(1.02);
  background-color: var(--primary-hover-color);
}
.create-post-btn:active {
  transform: scale(1);
  background-color: var(--primary-active-color);
  color: white;
}

.create-post-btn:hover mat-icon {
  animation: penShake 0.5s;
}

.heading {
  font-size: 1.3rem;
  font-weight: 500;
}

app-post:not(:last-child) {
  margin-bottom: 1.5rem;
}

@keyframes penShake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
