<div class="user-profile mx-auto">
  <div class="info bg-white pb-5 rounded-bottom-4">
    <div class="user-imgs position-relative">
      <div class="cover">
        <img
          [src]="uploadedCoverImg() ? uploadedCoverImg() : user()?.cover"
          alt="Profile Cover"
        />
        <fa-icon
          [icon]="['fas', 'pencil']"
          class="edit-btn edit-cover position-absolute shadow"
          title="Change Cover"
          (click)="coverSelector.click()"
        />
        <input
          type="file"
          accept="image/*"
          hidden
          (change)="onCoverImgSelected()"
          #coverSelector
        />
      </div>
      <div class="profile-pic position-absolute bottom-0 rounded-circle">
        <img
          [src]="
            uploadedProfileImg() ? uploadedProfileImg() : user()?.profileImage
          "
          alt="Profile Picture"
          class="d-block"
        />
        <fa-icon
          [icon]="['fas', 'pencil']"
          class="edit-btn position-absolute shadow"
          title="Change Profile Picture"
          (click)="profileSelector.click()"
        />
        <input
          type="file"
          accept="image/*"
          hidden
          (change)="onProfileImgSelected()"
          #profileSelector
        />
      </div>
    </div>
    <div class="texual-info">
      <div class="d-flex flex-wrap">
        <div class="name-connects">
          <div class="h2">{{ user()?.fName + " " + user()?.lName }}</div>
        </div>
        @if ((selectedProfileImage || selectedCoverImage) && !isLoading) {
        <button
          class="change-img align-self-end btn rounded-3 ms-auto"
          (click)="onUpdateImgs()"
        >
          {{
            selectedCoverImage && selectedProfileImage
              ? "Change Cover&Profile"
              : selectedProfileImage
              ? "Change Profile Image"
              : "Change Cover Image"
          }}
        </button>
        } @else if (isLoading) {
        <app-loading-spinner class="align-self-end ms-auto me-2" />
        }
      </div>
    </div>
  </div>

  <form
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="edit-form mt-4 mx-auto bg-white p-4 rounded-4 mb-3"
  >
    <h2>Edit your infomation</h2>
    <div class="name d-flex gap-3">
      <div class="input-ctrl px-3 py-2 mb-3 rounded-4">
        <input
          type="text"
          placeholder="First Name"
          name="fname"
          [(ngModel)]="info.fName"
          required
          class="border-0 bg-transparent w-100 flex-grow-1"
        />
      </div>
      <div class="input-ctrl px-3 py-2 mb-3 rounded-4">
        <input
          type="text"
          placeholder="Last Name"
          name="lname"
          [(ngModel)]="info.lName"
          required
          class="border-0 bg-transparent w-100 flex-grow-1"
        />
      </div>
    </div>
    <div class="input-ctrl px-3 py-2 mb-5 rounded-4">
      <input
        type="text"
        placeholder="Bio"
        name="bio"
        [(ngModel)]="info.bio"
        required
        class="border-0 bg-transparent w-100"
      />
    </div>

    <button type="submit" class="btn submit-btn rounded-4 w-100">Submit</button>
  </form>
</div>
