<hr />
<app-input-ctrl
  placeholder="Search..."
  (valueChanged)="onValueChanges($event)"
  class="search-ctrl"
>
  <fa-icon
    [icon]="['fas', 'magnifying-glass']"
    class="search-icon pe-2"
    ngProjectAs="prefix-icon"
  />
</app-input-ctrl>

<div>
  <h6 class="heading text-uppercase py-3">chats</h6>
  <ul class="list-group">
    @if(friends()) { @for (friend of friends(); track friend.id) {
    <li
      class="list-group-item list-group-item-action rounded-3 border-0 d-flex align-items-center"
      [routerLink]="['/app', 'chats', friend.id]"
    >
      <img [src]="friend.profileImage" alt="Friend Name" class="me-2" />
      <span> {{ friend.fName + " " + friend.lName }} </span>
    </li>
    }@empty {
    <p class="fallback-text">
      Looks like you haven’t made any friends yet — why not start now?
    </p>
    } }
  </ul>
</div>
