:host {
  display: block;
  padding: 1rem 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

.new-friends {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.actions * {
  font-size: 14px;
}

.actions button {
  background-color: var(--primary-color);
  color: white;
}
.actions button:hover {
  background-color: var(--primary-hover-color);
}
.actions button:active {
  background-color: var(--primary-active-color);
}

.actions a {
  background-color: #ddd;
}
.actions a:hover {
  background-color: #e8e3e3;
}
.actions a:active {
  background-color: #ccc;
}
