:host {
  display: block;
  padding: 1rem 1.5rem;
}

.heading {
  font-size: 1.3rem;
}

.friends {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.actions a {
  font-size: 14px;
}

.actions a:first-child {
  background-color: var(--primary-color);
  color: white;
}
.actions a:first-child:hover {
  background-color: var(--primary-hover-color);
}
.actions a:first-child:active {
  background-color: var(--primary-active-color);
}
.actions a:last-child {
  background-color: #ddd;
}
.actions a:last-child:hover {
  background-color: #e8e3e3;
}
.actions a:last-child:active {
  background-color: #ccc;
}

.friend-img {
  height: 100%;
  object-fit: cover;
}
