:root {
  --primary-color: #6644c4;
  --primary-hover-color: #7a5ce0;
  --primary-active-color: #4f32a4;
  --bg-color: #fafafa;
  --hover-grey: #f8f9fa;
  --text-secondary-color: #999;
  --error-color: #d93025;
  --transition: 0.3s;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

.auth-btn {
  background-color: var(--primary-color);
  padding: 10px;
  transition: background-color var(--transition);
}

.auth-btn:hover {
  background-color: #5b38bd;
}

.auth-btn:active {
  background-color: #4e319e;
}

.devider {
  border: none;
  margin: 0;
  height: 1px;
  width: 100%;
  background-color: #777;
}
